// FUENTES PERSONALIZADAS
@font-face {
  font-family: 'combat_patriotregular';
  src: url('/fonts/combat-patriot.regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'tactical_trooperregular';
  src: url('/fonts/tactical-trooper.regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
